.card {
  width: 18rem;
  height: 16rem;
}

@keyframes slide-in {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

h1 {
  animation: slide-in 1s ease-in-out;
}

.slide-1 {
  max-width: 64rem;
  margin: 0 auto;
  animation: slide-in 1s ease-in-out forwards;
  animation-delay: 0.1s;
  transform: translateX(-200%);
}

.slide-2 {
  max-width: 64rem;
  margin: 0 auto;
  animation: slide-in 1s ease-in-out forwards;
  animation-delay: 0.2s;
  transform: translateX(-200%);
}