.card {
  width: 18rem;
  height: 16rem;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

h1 {
  animation: slide-in 1s ease-in-out;
}

.exeguard-cards {
  max-width: 64rem;
  margin: 0 auto;
  animation: slide-in 1.25s ease-in-out;
}

.description {
  max-width: 64rem;
  margin: 0 auto;
  animation: slide-in 1.5s ease-in-out;
}
