{{
.Head
}}

<body>
  {{
  .Header
  }}

  <main class="m-4">
    <h1 class="text-center">Welcome to your secure hub</h1>

    <div class="container-fluid">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="card m-4">
          <div class="card-body">
            <h5 class="card-title">Permission management</h5>
            <p class="card-text">Exeguard can be used to manage each individual users permisions</p>
            <a href="#" class="btn btn-primary">Take a look</a>
          </div>
        </div>

        <div class="card m-4">
          <div class="card-body">
            <h5 class="card-title">Program management</h5>
            <p class="card-text">Exeguard can be used to manage and install each and every program. From configs to
              installation.</p>
            <a href="#" class="btn btn-primary">Take a look</a>
          </div>
        </div>

        <div class="card m-4">
          <div class="card-body">
            <h5 class="card-title">Program execution</h5>
            <p class="card-text">Exeguard can be used to manage the way that different programs execute and whether they are allowed to or not.</p>
            <a href="#" class="btn btn-primary">Take a look</a>
          </div>
        </div>

        <div class="card m-4">
          <div class="card-body">
            <h5 class="card-title">Monitoring</h5>
            <p class="card-text">Exeguard can be used to monitor what activities and programs are being ran on a computer. Disable different functions, etc.</p>
            <a href="#" class="btn btn-primary">Take a look</a>
          </div>
        </div>
      </div>
    </div>

    <br>
  </main>
</body>

</html>