{{
.Head
}}

<body>
  {{
  .Navbar
  }}

  <main class="m-4">
    <h1 class="text-center">Welcome to Exeguard, your secure hub</h1>

    <div class="container-fluid">
      <div class="row d-flex justify-content-center limit-size">
        <div class="card m-4 text-center">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Login to your hub</h5>
            <p class="card-text">Get personal access to your hub whether it's to configure your own setup, talk to admin, or something else.</p>
            <a href="login" class="btn btn-primary mt-auto">Login</a>
          </div>
        </div>

        <div class="card m-4 text-center">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Permission management</h5>
            <p class="card-text">Exeguard can be used to manage each individual users permisions</p>
            <a href="permissions" class="btn btn-primary mt-auto">Take a look</a>
          </div>
        </div>

        <div class="card m-4 text-center">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Program management</h5>
            <p class="card-text">Exeguard can be used to manage and install each and every program. From configs to
            installation.</p>
            <a href="program-management" class="btn btn-primary mt-auto">Take a look</a>
          </div>
        </div>

        <div class="card m-4 text-center">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Program execution</h5>
            <p class="card-text">Exeguard can be used to manage the way that different programs execute and whether they are allowed to or not.</p>
            <a href="program-execution" class="btn btn-primary mt-auto">Take a look</a>
          </div>
        </div>

        <div class="card m-4 text-center">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Monitoring</h5>
            <p class="card-text">Exeguard can be used to monitor what activities and programs are being ran on a computer. Disable different functions, etc.</p>
            <a href="monitoring" class="btn btn-primary mt-auto">Take a look</a>
          </div>
        </div>
      </div>
    </div>

    <div class="limit-size text-center">
      <p>Explore the power of Exeguard to safeguard your digital workspace. Our platform offers comprehensive security solutions, making it easy for you to maintain a secure computing environment. Whether you need to manage permissions, oversee program execution, or track activities, Exeguard has you covered.</p>
      <p>We believe in giving you the tools to control your digital world. Our user-friendly interface and robust features ensure that you can configure and customize your secure hub according to your specific needs. With Exeguard, you're in charge.</p>
    </div>
  </main>

  {{
  .Footer
  }}
</body>

</html>
