<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS and JS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
    defer></script>

  <link rel="stylesheet" href="static/styles.css">

  <title>Exeguard</title>
</head>

<body>
  <header class="text-center py-4 border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Exeguard</h2>
        </div>

        <div class="col-md-6">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a href="about">
                <h2>About</h2>
              </a>
            </li>

            <li class="list-inline-item">
              <a href="software">
                <h2>Software</h2>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <main class="text-center centered-text">
    <div class="text-start">
      <br>

      <h1>Welcome</h1>

      Welcome to the Exeguard home page. Exeguard is a simple and flexible piece of software that allows:

      <ul>
        <li>Permission management</li>
        <li>Program management</li>
        <li>Program installation</li>
        <li>Program execution</li>
        <li>Monitoring</li>
      </ul>
      <!-- management of permissions, program execution, program installing, monitoring and more. -->
    </div>
  </main>
</body>

</html>