{{
  .Head
}}

<body>
  {{
    .Navbar
  }}

  <main class="text-center">
    <h1>Pricing</h1>

    <div class="slide-1">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="card m-4 text-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Personal usage</h5>
              <p class="card-text">Get personal access to your hub and attach up to 2 devices. Useful for basic configuration.</p>
              <a href="login" class="btn btn-primary mt-auto">Sign up</a>
            </div>
          </div>

          <div class="card m-4 text-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Startup usage</h5>
              <p class="card-text">Exeguard can be used with up to 20 machines. Useful for startup businesses who need some management</p>
              <a class="btn btn-primary mt-auto" href="mailto:ben.mcavoy@tutanota.com">Contact us</a>
            </div>
          </div>

          <div class="card m-4 text-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Large companies</h5>
              <p class="card-text">Exeguard can be used with as many devices as you like with every normal feature unlocked.</p>
              <a class="btn btn-primary mt-auto" href="mailto:ben.mcavoy@tutanota.com">Contact us</a>
            </div>
          </div>

          <div class="card m-4 text-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Education basic</h5>
              <p class="card-text">Exeguard can be used with as many devices as you like. Essentially large companies but with a discount for education.</p>
              <a class="btn btn-primary mt-auto" href="mailto:ben.mcavoy@tutanota.com">Contact us</a>
            </div>
          </div>

          <div class="card m-4 text-center">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Education pro</h5>
              <p class="card-text">Exeguard can be used with as many devices as you like with every single feature unlocked with some extras</p>
              <a class="btn btn-primary mt-auto" href="mailto:ben.mcavoy@tutanota.com">Contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  {{
    .Footer
  }}
</body>

</html>
