  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Exeguard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav" aria-labelledby="Navbar collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="features">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pricing">Pricing</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="downloadsDropdown" role="button" data-bs-toggle="dropdown">
              Downloads
            </a>

            <ul class="dropdown-menu" aria-labelledby="Downloads dropdown">
              <li><a class="dropdown-item disabled" href="download-installer">Installer (recommended)</a></li>
              <li><a class="dropdown-item disabled" href="download-server">Server</a></li>
              <li><a class="dropdown-item disabled" href="download-client">Client</a></li>
              <li><a class="dropdown-item disabled" href="download-website">Website</a></li>
              <li><a class="dropdown-item disabled" href="download-kernel-module">Kernel module</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
